# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Python cache
.pytest_cache/

# Alembic cache
alembic/__pycache__/

# macOS
.DS_Store